<server>

    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonb-1.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>cdi-2.0</feature>
               
        <feature>restConnector-2.0</feature>
        
    </featureManager>

	<dataSource id="DefaultDataSource">
    	<jdbcDriver libraryRef="postgresLib"/>
    	<!-- 
		<properties serverName="${POSTGRES_HOSTNAME}" portNumber="${POSTGRES_PORT}" user="test" password="test" databaseName="testdb"/>
 -->
		<properties serverName="${POSTGRES_HOSTNAME}" portNumber="${POSTGRES_PORT}" user="test" password="test" databaseName="testdb"/>
	</dataSource>
	
	<library id="postgresLib">
		<file name="${server.config.dir}/resources/postgresql.jar"/>
	</library>
	
    <webApplication id="guide-microshed-testing" location="guide-microshed-testing-1.0-SNAPSHOT.war" name="guide-microshed-testing" contextRoot="/"/>

	<quickStartSecurity userName="bob" userPassword="bobpwd"> </quickStartSecurity>

</server>
